/* CSS declarations go here */
body {padding: 10px 20px; font-family: serif; background-color: black; color: #888;}

#meta {position: fixed; z-index: 5}

h1 {font-family: 'Exo', sans-serif;font-weight: normal; font-size: 27px; color: #eee; margin: 0}
span {color: #ccc}
a {color: #9cf}
li {list-style: none}
ul {margin: 10px 0}
label {display: inline; font-size: 10px;font-family: Consolas, Menlo, Monaco, monospace, serif}
input[type="checkbox"] {margin: 2px 0; opacity: 0.8}

.label {float: none; cursor: pointer}
svg#stations {position: absolute;}
svg#railways {position: absolute;z-index:-1}
polyline {opacity:0.03;stroke:white}
polyline.highlight {stroke:#393;opacity:0.25;position:absolute;z-index:0}
circle {cursor: pointer}
circle.stop {opacity:0.4;z-index:1}
circle.city {opacity:0.5;z-index:2}
circle.capital {opacity:0.6;z-index:3}
circle:hover {stroke:#6c6;stroke-width:2;opacity:1}
circle[data-toggled] {stroke:#6c6;stroke-width:2;opacity:1}

.tooltip.top {box-sizing:border-box}
.tooltip.top .tooltip-arrow {border-top-color: #171;position:relative;left: 0;margin-top:-1px;margin-left: -9px}
.tooltip .tooltip-inner {background-color: #171;left: -50%;position:relative;margin-top:1px;margin-left: -9px}
